* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color:#2B7C85;
    font-family: 'Press Start 2P', cursive;
    gap: 2rem;
}

#gameboard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 0px 12px 8px rgba(0,0,0,0.3);
}

.square {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    width: 60px;
    height: 60px;
}

.circle {
    box-sizing: border-box;
    border-radius: 50%;
    border: 15px solid #175873;
}

.cross {
    position: relative;
}

.cross:after {
    content: '';
    height: 60px;
    border-left: 15px solid #0C1446;
    position: absolute;
    transform: rotate(45deg);
    left: 22px;
}

.cross:before {
    content: '';
    height: 60px;
    border-left: 15px solid #0C1446;
    position: absolute;
    transform: rotate(-45deg);
    left: 22px;
}

.forms{
    display: flex;
    align-items: center;
    gap: 2rem;
}

input{
    outline: none;
    text-align: center;
    background-color:#87ACA3;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    padding: 0.5rem 0;
}

button{
    font-family: 'Press Start 2P', cursive;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 20px;
}

form{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

#game-text{
    font-size: 1rem;
}

.vs{ 
    font-size: 3rem;
}

.start-screen.active,
.restart-btn.active,
#game-text.active{
    display: block;
}

.start-screen,
.restart-btn,
#gameboard.none,
#game-text{
    display: none;
}